.container {
  max-width: 375px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.lead, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.btn {
  text-decoration: none;
  color: inherit;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  display: inline-block;
  min-width: 200px;
  padding: 16px 0;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.btn:hover {
  background: #65e2d9;
  transition: all 0.3s ease-out;
}

.py-1 {
  padding-top: 1rem;
}

.py-2 {
  padding-top: 2rem;
}

.py-3 {
  padding-top: 3rem;
}

.py-4 {
  padding-top: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #181f2a;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

p {
  color: #dad8d8;
  line-height: 1.6;
}

footer {
  background: #0b1523;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-nav img {
  width: 5rem;
}

#main-nav ul {
  display: flex;
}

#main-nav ul li {
  list-style: none;
  padding: 1rem 0 1rem 1rem;
}

#main-nav ul li a {
  color: #dad8d8;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

#main-nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

header {
  background-color: #1c2431;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-position: bottom left;
  background-size: contain;
  background-repeat: no-repeat;
}

#header-content img {
  width: 20rem;
  height: auto;
}

#header-content h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

#header-content a {
  margin-top: 1.8rem;
}

#section-a {
  padding: 8rem 1rem 0rem 1rem;
}

#section-a .features {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 5rem;
}

#section-a .features img {
  width: 20%;
}

#section-a .features h3 {
  padding-top: 2rem;
}

#section-a .features p {
  padding-top: 1rem;
}

#section-b {
  padding: 8rem 0 0 0;
  margin: 0 1rem;
}

#section-b .how-we-work img {
  width: 20rem;
  height: auto;
  display: inline;
}

#section-b .how-we-work h3 {
  padding-top: 2rem;
}

#section-b .how-we-work p {
  padding-top: 1rem;
}

#section-b .how-we-work a {
  display: inline-block;
  color: #65e2d9;
  text-decoration: none;
  border-bottom: 1px solid #65e2d9;
  margin-top: 0.7rem;
  padding-bottom: 7px;
}

#section-b .how-we-work a:hover {
  color: #fff;
}

#section-c {
  padding-top: 8rem;
  margin: 0 1rem;
}

#section-c img {
  width: 25px;
  padding-left: 5px;
}

#section-c .testimonials {
  display: grid;
  gap: 2rem;
}

#section-c .testimonials .testimonial {
  background: #202a3c;
  padding: 2rem 1.5rem 1rem 1.5rem;
  border-radius: 5px;
  display: grid;
}

#section-c .testimonials .testimonial img {
  z-index: -2;
  border-radius: 50%;
  width: 30px;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

#section-c .testimonials .testimonial .test_text p {
  font-size: 12px;
}

#section-c .testimonials .testimonial .test_person {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
}

#section-c .testimonials .testimonial .test_person h4 {
  font-size: 12px;
}

#section-c .testimonials .testimonial .test_person p {
  font-size: 11px;
}

#section-d {
  margin-top: 4rem;
  margin: 0 1rem;
}

#section-d .container {
  background: #1c2431;
  border-radius: 5px;
  padding: 2rem 1.5rem;
  transform: translateY(50%);
}

#section-d .container p, #section-d .container input, #section-d .container button {
  margin-top: 1rem;
}

#section-d .container input, #section-d .container button {
  width: 18rem;
}

#section-d .container input {
  background: #fff;
  color: #000;
  cursor: text;
  text-align: left;
  display: inline-block;
  min-width: 200px;
  padding: 16px 16px;
  border-radius: 25px;
  border: none;
}

#section-d .container input::placeholder {
  color: #ddd;
  font-size: 10px;
  padding-left: 1.5rem;
}

footer {
  padding-top: 1rem;
}

footer .container {
  padding: 12rem 2rem 4rem 2rem;
}

footer .container .footer-flex-outer .contact-list {
  margin-top: 2rem;
}

footer .container .footer-flex-outer .contact-list, footer .container .footer-flex-outer .contact-list-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .container .footer-flex-outer .contact-list .contact-item, footer .container .footer-flex-outer .contact-list-inner .contact-item {
  display: flex;
  gap: 1.2rem;
}

footer .container .footer-flex-outer .contact-list .contact-item p, footer .container .footer-flex-outer .contact-list-inner .contact-item p {
  display: inline;
}

footer .container .footer-flex-outer .contact-list .contact-item img, footer .container .footer-flex-outer .contact-list-inner .contact-item img {
  height: 17px;
  width: auto;
}

footer .container .footer-flex-outer .footer-flex-intermediate .footer-flex-inner .footer-menu {
  margin-top: 5rem;
}

footer .container .footer-flex-outer .footer-flex-intermediate .footer-flex-inner .footer-menu:nth-of-type(2) {
  margin-top: 2.5rem;
}

footer .container .footer-flex-outer .footer-flex-intermediate .footer-flex-inner .footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .container .footer-flex-outer .footer-flex-intermediate .footer-flex-inner .footer-menu ul li {
  list-style: none;
}

footer .container .footer-flex-outer .footer-flex-intermediate .footer-flex-inner .footer-menu ul li a {
  text-decoration: none;
  color: #dad8d8;
}

footer .container .footer-flex-outer .footer-flex-intermediate .footer-flex-inner .footer-menu ul li a:hover {
  color: #fff;
}

footer .container .footer-flex-outer .footer-flex-intermediate .footer-socials {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}

footer .container .footer-flex-outer .footer-flex-intermediate .footer-socials .footer-social {
  width: 22.5px;
  height: 22.5px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  border: #dad8d8 1px solid;
}

footer .container .footer-flex-outer .footer-flex-intermediate .footer-socials .footer-social:hover {
  color: #65e2d9;
}

footer .container .footer-flex-outer .footer-flex-intermediate .footer-socials .footer-social a {
  color: #dad8d8;
  vertical-align: middle;
}

footer .container .footer-flex-outer .footer-flex-intermediate .footer-socials .footer-social a:hover {
  color: #65e2d9;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  #main-nav {
    padding: 1rem 1rem 0 1rem;
  }
  #main-nav img {
    width: 8rem;
  }
  #header-content img {
    width: 50rem;
  }
  #header-content h1, #header-content p, #header-content a {
    display: inline-block;
  }
  #header-content .header-text {
    display: inline-block;
    max-width: 600px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  #header-content p {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  #section-a .container {
    max-width: 1000px;
  }
  #section-a .container .features {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 8rem;
  }
  #section-a .container .features .feature-wrap {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  #section-a .container .features .feature-wrap .feature {
    width: 380px;
  }
  #section-b .how-we-work {
    display: flex;
    flex-direction: row;
  }
  #section-b .how-we-work .image-b {
    width: 50%;
  }
  #section-b .how-we-work .image-b img {
    width: 90%;
  }
  #section-b .how-we-work .text-b {
    width: 50%;
    padding-top: 4rem;
    padding-left: 4rem;
  }
  #section-b .how-we-work .text-b h3 {
    font-size: 35px;
    max-width: 300px;
  }
  #section-b .how-we-work .text-b p {
    max-width: 500px;
  }
  #section-c img {
    width: 50px;
    transform: translate(-25%, 30%);
  }
  #section-c .testimonials {
    grid-template-columns: repeat(3, 1fr);
  }
  #section-d {
    margin-top: 8rem;
  }
  #section-d .container {
    max-width: 800px;
  }
  #section-d .container h3 {
    font-size: 24px;
  }
  #section-d .container P {
    display: inline-block;
    max-width: 620px;
  }
  #section-d .container input {
    width: 26rem;
    margin-right: 2rem;
  }
  #section-d .container button {
    width: 12rem;
  }
  #section-d .container input, #section-d .container button {
    margin-top: 2rem;
  }
  footer .container .footer-flex-outer {
    display: flex;
    gap: 10rem;
  }
  footer .container .footer-flex-outer .contact-list {
    flex-direction: row;
    width: 50%;
    gap: 10rem;
  }
  footer .container .footer-flex-outer .footer-flex-intermediate {
    display: flex;
    gap: 10rem;
  }
  footer .container .footer-flex-outer .footer-flex-intermediate .footer-flex-inner {
    display: flex;
    gap: 10rem;
  }
  footer .container .footer-flex-outer .footer-flex-intermediate .footer-flex-inner .footer-menu,
  footer .container .footer-flex-outer .footer-flex-intermediate .footer-flex-inner .footer-menu:nth-of-type(2) {
    margin-top: 2rem;
  }
  footer .container .footer-flex-outer .footer-flex-intermediate .footer-flex-inner .footer-menu {
    width: 90px;
  }
  footer .container .footer-flex-outer .footer-flex-intermediate .footer-socials {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */